---
layout: default
title: Unforgettable Adventures at Skypark by AJ Hackett
seo:
  title: "Adrenaline-Fueled Adventures at Skypark by AJ Hackett: Bungy Jumps, Swings, Ziplines & More"
  description: “Explore thrilling adventures at Skypark by AJ Hackett with heart-pounding activities like bungy jumps, giant swings, ziplines, and more. Discover unique experiences at our global locations, including Cairns, Macau, Sentosa, and Normandie. Perfect for thrill-seekers and families alike!”
  keywords:
    - Skypark by AJ Hackett
    - Adventure activities
    - Bungy jumping
    - Giant swings
    - Ziplines
    - Skybridge
    - Skycube
    - Walk The Plank
    - Luge rides
    - Adventure parks
    - Climbing walls
    - Thrill-seekers
    - Cairns adventure activities
    - Macau Tower experiences
    - Sentosa Skypark
    - Normandie adventure park
  social_image: /images/family-swing-cairns-aj-hackett-international.png
  hide-from-google: true
header:
 - image: /images/family-swing-cairns-aj-hackett-international.png
   position: 27% 50%
   label: A family of three, a child, a man, and a woman, enjoying a fun activity together at Skypark by AJ Hackett.
   title: Experiences
   text: Explore Unforgettable Thrills and Sky-High Fun
quote-image: /images/aj-getting-ready-for-a-bungy-jump-aj-hackett-international.png
quote-position: 50% 23%
experience:
 - name: Bungy
   id: "bungy"  
   image: /images/skypark-aj-hackett-international-banner-image.jpg
   image-position: 20% 50%
   image-alt: "A woman captured mid-air in a bungy jump, with the photo taken from the vantage point where she leaped off."
   gallery-images:
   - img-url: /images/bungy-jump-macau-skypark-aj-hackett-international.png
     img-alt: Woman standing on the platform at Macau Skypark, poised to begin her bungy jump.
   - img-url: /images/bungy-jump-skypark-sentosa-singapore-aj-hackett-international.png
     img-alt: Man mid-bungy jump at Skypark Sentosa, with a view of the beach below.
   - img-url: /images/aj-at-skypark-normandie-france-aj-hackett-international.png
     img-alt: AJ Hackett and a woman enjoying a tandem bungy jump at Skypark Normandie in the scenic Souleuvre Valley.
   - img-url: /images/sunset-bungy-jump-skypark-sentosa-singapore-aj-hackett-international.png
     img-alt: Person doing a bungy jump at sunset at Skypark Sentosa, with vibrant sky colors in the background.
   - img-url: /images/tandem-cairns-skypark-aj-hackett-international.png
     img-alt: Tandem jump at Cairns Skypark by AJ Hackett International.
   - img-url: /images/accessibility-aj-hackett-international.png
     img-alt: Man in a wheelchair takes a thrilling bungy jump from a high tower, capturing the excitement and joy of the experience.
   locations: 
   - name: "Cairns"
     url: skypark-aj-hackett.html#cairns
     url-alt: Find out more about Skypark Cairns
   - name: "Sentosa"
     url: skypark-aj-hackett.html#sentosa
     url-alt: Find out more about Skypark Sentosa
   - name: "Macau"
     url: skypark-aj-hackett.html#macau
     url-alt: Find out more about Skypark Macau
   - name: "Normandie"
     url: skypark-aj-hackett.html#normandie
     url-alt: Find out more about Skypark Macau
   description: Inspired by the Vanuatu ritual called land diving and the Oxford University Dangerous Sports Club’s experimental jumps in the 1970s, AJ Hackett and fellow adventurer Chris Sigglekow sought ways to make bungy jumping safe. By the mid-80s, AJ Hackett had created a super-stretchy elastic bungy cord that performed safely and consistently, with cords created at custom lengths that allowed for various jump heights and locations.
 - name: Swings
   id: "swings" 
   image: /images/giant-swing-aj-hackett-international.png
   image-position: 50% 50%
   image-alt: "Swings"
   locations: 
   - name: "Cairns"
     url: skypark-aj-hackett.html#cairns
     url-alt: Find out more about Skypark Cairns
   - name: "Sentosa"
     url: skypark-aj-hackett.html#sentosa
     url-alt: Find out more about Skypark Sentosa
   - name: "Normandie"
     url: skypark-aj-hackett.html#normandie
     url-alt: Find out more about Skypark Normandie
   description: First introduced in the year 2000, you will awaken your inner child with the giant swing or 'swing.' Whether you’re in Sentosa flying above the beach, in Cairns where the Barrier Reef meets the rainforest, or in Normandy next to the impressive pillars of the viaduct, we guarantee a rush like no other with vistas only found in these special places. All of our swings cater to solo, dual, or triple customers going at once, with speeds reaching 130 km/h in 3.5 seconds! It is the perfect activity for you and your friends to enjoy together and push your limits.
 - name: Zipline
   id: "zipline" 
   image: /images/zipline-aj-hackett-international.png
   image-position: 50% 50%
   image-alt: "Zipline"
   locations: 
   - name: "Normandie"
     url: skypark-aj-hackett.html#normandie
     url-alt: Find out more about Skypark Normandie
   description: The giant zipline at Skypark Normandie, known as the 'Scable,' is the ideal activity to start exploring your limits. This activity will give you a taste of the unique sensations that we offer on-site and is also the best way to discover our valley and its amazing flora and fauna. Starting from a specially designed launch area, you will be released onto our 400m cable at speeds reaching 100 km/h, where you, by yourself or with your partner, will get a great introduction to our adrenaline-packed activities.
 - name: Skybridge & Skycube
   id: "skybridge" 
   image: /images/skycube-aj-hackett-international.png
   image-position: 50% 5%
   image-alt: "Skybridge"
   locations: 
   - name: "Normandie"
     url: skypark-aj-hackett.html#normandie
     url-alt: Find out more about Skypark Normandie
   description: For more than 30 years, AJ Hackett has created many thrilling activities from this 140-meter-long footbridge. The skybridge is both the access point to the activities of Skypark Normandie and a unique place to be as close as possible to the practitioners who come here to take on many challenges. At the entrance, you can enjoy a terrace to watch the departure of the giant zip line. As you advance on the footbridge, you must gradually master the void that presents itself beneath your feet—10, 20, 30, and then 60 meters of emptiness to arrive at the second pile of the viaduct. At 140 meters, it can feel long when, with each step, you have to control your fear of heights. But in the end, it is the promise of a unique point of view of the Souleuvre valley—a 360-degree panorama of this preserved and protected nature.
 - name: Walk The Plank
   id: "walktheplank" 
   image: /images/walk-the-plank-aj-hackett-international.png
   image-position: 50% 56%
   image-alt: "Walk The Plank"
   locations: 
   - name: "Cairns"
     url: skypark-aj-hackett.html#cairns
     url-alt: Find out more about Skypark Cairns
   description: As in the olden days, try yourself by walking the plank, perched 50 m in the air and 140 m above sea level, with amazing views of the ocean and rainforest. This activity is the perfect way to introduce yourself to heights. Our team will guide you along the way to help you push your boundaries. If you’re confident enough, we will let you dangle over the edge of the plank for the perfect photo opportunity!
 - name: Luge
   id: "luge" 
   image: /images/luge-aj-hackett-international.png
   image-position: 50% 35%
   image-alt: "Luge"
   locations: 
   - name: "Normandie"
     url: skypark-aj-hackett.html#normandie
     url-alt: Find out more about Skypark Normandie
   description: A unique sled with speeds up to 45 km/h. Sledding is a simple, family-friendly, low-cost pleasure, ideal for both summer and winter. A leisure activity that brings you great sliding sensations without effort, sledding can be practiced alone or in pairs. It can be enjoyed from 3 years old and accommodates individuals weighing up to 180 kg. Make your way down the valley for a fun-filled experience immersed in the Natura 2000 protected area; you may see a cow or two in the adjacent pastures!
 - name: Adventure Parks
   id: "adventureparks" 
   image: /images/adventure-park-aj-hackett-international.png
   image-position: 50% 50%
   image-alt: "Adventure Parks"
   locations: 
   - name: "Normandie"
     url: skypark-aj-hackett.html#normandie
     url-alt: Find out more about Skypark Normandie
   description: "The perfect activity for all ages, with multi-leveled courses, allows you to challenge yourself through different obstacles ranging from mini ziplines to roped walkways and climbing challenges. We offer two types of adventure parks: the original, where you are harnessed the whole way through the activities, or the new generation, which is netted! This means no harness is needed—just your own bravery as you try to complete the challenges ahead!"
 - name: Climbing Walls
   id: "climbingwalls" 
   image: /images/climbing-wall-aj-hackett-international.png
   image-position: 50% 50%
   image-alt: "Climbing Walls"
   locations: 
   - name: "Normandie"
     url: skypark-aj-hackett.html#normandie
     url-alt: Find out more about Skypark Normandie
   description: "Challenge yourself by climbing on our World Cup-sized walls, where all levels of difficulty are on display for you to try out! Our team of trained operators will ensure you give it your best while keeping you safe during your climb with the use of harnesses and all relevant equipment."
---

<section class="max-w-screen-2xl mx-auto">
  <div class="px-5p pt-15p sm:pt-10p xl:pt-5p pb-10p sm:pb-0">
    <div class="pb-5p">
        <p class="pb-5p sm:pb-2p"> At AJ Hackett Skypark, adventure awaits around every corner! Dive into a world of excitement with our exhilarating activities designed for thrill-seekers and families alike. Whether you’re soaring through the sky on our iconic bungy jumps, experiencing the rush of our giant swings, or gliding along breathtaking ziplines, each experience offers a unique way to challenge yourself and enjoy stunning views. Explore our sky-high attractions, including the Skybridge, Skycube, and the nostalgic Walk The Plank, or engage in fun-filled activities like luge rides, adventure parks, and climbing walls. Whatever your adrenaline level, there’s something for everyone to enjoy at AJ Hackett Skypark—come and create unforgettable memories!</p>
        <p class="pb-5p sm:pb-0"> Check out each individual experience of Skypark by AJ Hackett.</p>
    </div>

    <a href="#bungy">
        <h3 class="title-font text-xl pb-1p grow"> Bungy </h3>
    </a>
    <hr class="pb-1p">
    <a href="#swings">
        <h3 class="title-font text-xl pb-1p grow"> Swings </h3>
    </a>
    <hr class="pb-1p">
    <a href="#ziplines">
        <h3 class="title-font text-xl pb-1p grow"> Ziplines </h3>
    </a>
    <hr class="pb-1p">
    <a href="#skybridge">
        <h3 class="title-font text-xl pb-1p grow"> Skybrige & Skycube </h3>
    </a>
    <hr class="pb-1p">
    <a href="#walktheplank">
        <h3 class="title-font text-xl pb-1p grow"> Walk The Plank </h3>
    </a>
    <hr class="pb-1p">
    <a href="#luge">
        <h3 class="title-font text-xl pb-1p grow"> Luge </h3>
    </a>
    <hr class="pb-1p">
    <a href="#adventureparks">
        <h3 class="title-font text-xl pb-1p grow"> Adventure Parks  </h3>
    </a>
    <hr class="pb-1p">
    <a href="#climbingwalls">
        <h3 class="title-font text-xl pb-1p grow"> Climbing Walls </h3>
    </a>
    <hr class="pb-1p">
  </div> 
</section>


<!-----BG and Text-------->

<section class="max-w-screen-2xl mx-auto">
  <div class="relative mt-10p">
    <div class="bg-cover bg-no-repeat"
        style="background-image: url('{{ page.quote-image }}'); height: 24rem; background-position: {{ page.quote-position }};">
      <div class="absolute inset-0 flex items-center justify-center p-5p">
        <div class="bg-dark-blue p-8 rounded-lg text-center opacity-90">
          <p class="header-font text-xl sm:text-3xl lg:text-4xl text-white">
            “I discovered from my very first jump that we were on to something incredibly special,” <br> AJ explains.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>



<!-----Experiences-------->

<section class="max-w-screen-2xl mx-auto">
  <div class="px-5p pb-15p lg:pb-10p">
    {% for item in page.experience %}
    <div class="pt-15p sm:pt-10p lg:pt-5p" id="{{ item.id }}">
        <h3 class="title-font text-2xl sm:text-4xl pb-2p 2xl:pb-1p">{{ item.name }}</h3>
        <hr class="pb-2p sm:pb-1p">

        <!-- Large Featured Image -->
        <div class="relative h-80 sm:h-96 lg:h-112">
              <img loading="lazy" class="absolute inset-0 w-full h-full object-cover rounded-3xl pb-1.5" src="{{ item.image }}" style="object-position: {{ item.image-position }};" alt="{{ item.image-alt }}" />
        </div>

        <!-- Conditional Gallery Images -->
        {% if item.name == "Bungy" %}
        <div class="grid grid-cols-2 sm:grid-cols-3 lg:grid-cols-6 gap-2 w-full overflow-x-auto" id="lightgallery">
            {% for image in item.gallery-images %}
            <a class="col-span-1" href="{{ image.img-url }}" aria-label="View larger version of the image">
                <div class="aspect-square relative">
                    <img loading="lazy" class="w-full h-full object-cover object-center rounded-xl" src="{{ image.img-url }}" alt="{{ image.img-alt }}">
                </div>
            </a>
            {% endfor %}
        </div>
        {% endif %}

        <!-- Description -->
        <p class="pt-5p sm:pt-5p lg:pt-2p">{{ item.description }}</p>

        <!-- Location Links 
        <h4 class="uppercase text-2xl py-5p sm:py-2p">
            {% for location in item.locations %}
                <a href="{{ location.url }}" alt="{{ location.url-alt }}" class="grow">{{ location.name }}</a>{% if forloop.last == false %} | {% endif %}
            {% endfor %}
        </h4>
        -->
    </div>
    {% endfor %}
  </div>
</section>
