---
layout: default
title: Discover Skypark by AJ Hackett
seo:
  title: "Skypark by AJ Hackett: Ultimate Adventure Destinations Around the World"
  description: Discover Skypark by AJ Hackett, where adrenaline meets adventure at our global locations. Experience thrilling bungy jumps, giant swings, and more at Cairns, Macau, Sentosa, and Normandie. Celebrate 30 years of exciting experiences and explore unique gravity-defying activities at each of our world-class sites.
  keywords:
    - Skypark by AJ Hackett
    - Adventure tourism
    - Bungy jump experiences
    - Giant swing rides
    - Gravity-defying activities
    - Cairns adventure park
    - Macau Tower attractions
    - Sentosa thrill rides
    - Normandie Skypark
    - World’s highest bungy jump
    - Unique adventure destinations
    - Adrenaline experiences
    - Global adventure parks
  social_image: /images/skypark-aj-hackett-international-banner-image.jpg
  hide-from-google: true
header:
 - image: /images/skypark-aj-hackett-international-banner-image.jpg
   position: 20% 50%
   label: A woman captured mid-air in a bungy jump, with the photo taken from the vantage point where she leaped off.
   title: Skypark
   text: Experience Unforgettable Thrills
site:
 - location: Cairns
   id: cairns
   url: https://www.skyparkcairns.com/
   url-alt: Explore Skypark Cairns
   image: /images/cairns-australian-skypark-by-aj-hackett-international.png
   image-position: 50% 70%
   image-alt: Crew member assisting a jumper at Skypark Cairns tower.
   experiences: 
   - name: "Bungy Jump" 
     url: /experiences-aj-hackett.html#bungy
   - name: "Giant swing"
     url: /experiences-aj-hackett.html#swings
   - name: "Bungy roof"
     url: /experiences-aj-hackett.html#bungy
   - name: "Walk the Plank"
     url: /experiences-aj-hackett.html#walktheplank
   gallery-images:
   - img-url: /images/tandem-cairns-skypark-aj-hackett-international.png
     img-position: 50% 50%
     img-alt: Tandem jump at Cairns Skypark by AJ Hackett International.
   - img-url: /images/swing-cairns-skypark-aj-hackett-international.png
     img-position: 50% 50%
     img-alt: Thrilling giant swing at Cairns Skypark by AJ Hackett International, soaring through the air with stunning views.
   - img-url: /images/handstand-cairns-skypark-aj-hackett-international.png
     img-position: 50% 50%
     img-alt: Man performing a handstand at the top of the Cairns Skypark tower by AJ Hackett International.
   - img-url: /images/drone-shot-cairns-skypark-aj-hackett-international.png
     img-position: 50% 50%
     img-alt: Drone shot of Cairns Skypark by AJ Hackett International, capturing the tower, surrounding landscape, and the scenic beauty of the area.
   - img-url: /images/swan-dive-cairns-skypark-aj-hackett-international.png
     img-position: 50% 50%
     img-alt: Woman performing a swan dive from the tower at Cairns Skypark by AJ Hackett International, gracefully captured mid-air against the sky.
   description: First opened in 1990, Skypark Cairns by AJ Hackett is a rainforest world of adventure that needs to be seen to be believed. Offering a range of exciting experiences, it has something for everyone—from thrill-seekers to spectators—and is home to Australia’s ONLY Bungy, Giant Swing, Cairns’ highest viewing platform, and Walk the Plank!
 - location: Macau
   id: macau
   url: https://www.skyparkmacau.com/
   url-alt: Explore Skypark Macau
   image: /images/macau-skypark-by-aj-hackett-international.png
   image-position: 50% 50%
   image-alt: Person mid-air during a bungy jump from the Macau Skypark tower.
   experiences: 
   - name: "Bungy Jump" 
     url: /experiences-aj-hackett.html#bungy
   - name: "Sky Jump"
     url: /experiences-aj-hackett.html#bungy
   - name: "Sky Walk"
     url: /experiences-aj-hackett.html#bungy
   - name: "Tower Climb"
     url: /experiences-aj-hackett.html#bungy
   gallery-images:
   - img-url: /images/macau-tower-macau-skypark-aj-hackett-international.png
     img-position: 50% 50%
     img-alt: Macau Tower at Skypark by AJ Hackett International, standing tall against the skyline, showcasing the iconic bungee jump platform.
   - img-url: /images/bungy-jump-at-macau-tower-macau-skypark-aj-hackett-international.png
     img-position: 50% 50%
     img-alt: Man mid-bungee jump from Macau Tower, with the tower and sky in the background, viewed from below.
   - img-url: /images/bungy-jump-macau-skypark-aj-hackett-international.png
     img-position: 50% 50%
     img-alt: Woman standing on the platform at Macau Skypark, poised to begin her bungy jump.
   - img-url: /images/macau-tower-2-macau-skypark-aj-hackett-international.png
     img-position: 50% 50%
     img-alt: Two men walking around the top of the Macau Skypark tower, with the cityscape visible in the background.
   - img-url: /images/sky-jump-macau-skypark-aj-hackett-international.png
     img-position: 50% 50%
     img-alt: Woman mid-air during a sky jump at Macau Skypark, with the sky in the background.
   description: The sky is the playground when you visit Macau Tower. The top of the Macau Tower promises a sweeping, unobstructed view of the Macau islands, all the way to Hengqin, Zhuhai, and the neighboring mainland China. Skypark Macau Tower is home to the 2007 Guinness World Record for the Highest Commercial Bungy Jump (Building). At 233 meters, you can live on the edge and take the plunge or enjoy a leisurely walk around the Skywalk platform with your friends and family. Become your favorite superhero with Skyjump or conquer the world's only urban Tower Climb and Macau’s highest summit at 338 meters.
 - location: Sentosa
   id: sentosa
   url: https://www.skyparksentosa.com/
   url-alt: Explore Skypark Sentosa
   image: /images/skypark-sentosa-singapore-aj-hackett-international.png
   image-position: 50% 50%
   image-alt: Woman bungy jumping off Skypark Sentosa, with crew members on the right who assisted her.
   experiences: 
   - name: "Bungy Jump"
     url: /experiences-aj-hackett.html#bungy
   - name: "Giant Swing"
     url: /experiences-aj-hackett.html#swings
   - name: "Skybridge"
     url: /experiences-aj-hackett.html#skybridge
   gallery-images:
   - img-url: /images/the-view-skypark-sentosa-singapore-aj-hackett-international.png
     img-position: 50% 50%
     img-alt: View from Skypark Sentosa showing lush jungle and vibrant fauna in the background.
   - img-url: /images/bungy-jump-skypark-sentosa-singapore-aj-hackett-international.png
     img-position: 50% 50%
     img-alt: Man mid-bungy jump at Skypark Sentosa, with a view of the beach below.
   - img-url: /images/sunset-bungy-jump-skypark-sentosa-singapore-aj-hackett-international.png
     img-position: 50% 50%
     img-alt: Person doing a bungy jump at sunset at Skypark Sentosa, with vibrant sky colors in the background.
   - img-url: /images/skybridge-skypark-sentosa-singapore-aj-hackett-international.png
     img-position: 50% 50%
     img-alt: Woman walking confidently on the Skybridge at Skypark Sentosa.
   - img-url: /images/skypark-sentosa-island-singapore-aj-hackett-international.png
     img-position: 50% 50%
     img-alt: Skypark Sentosa with a view of the beach and ocean in the background, showcasing the stunning coastal scenery.
   description: Standing 47 meters above the most stunning scenery in Singapore, you can take in the view across the ocean, take a deep breath, and then take the plunge at Singapore’s only bungy jump. On the Giant Swing, up to three people can experience a rush as they are winched 40 meters above the ground, enjoying an epic view across Siloso Beach and soaring at speeds of up to 120 km/h.
 - location: Normandie 
   id: normandie
   url: https://viaducdelasouleuvre.com/
   url-alt: Explore Skypark Normandie
   image: /images/skypark-normandie-france-aj-hackett-international.png
   image-position: 50% 50%
   image-alt: Skypark Normandie in Souleuvre Valley, showcasing the scenic landscape and the unique adventure attractions.
   experiences:  
   - name: "Bungy Jump" 
     url: /experiences-aj-hackett.html#bungy
   - name: "Skyrope"
     url: /experiences-aj-hackett.html#bungy
   - name: "Giant Swing"
     url: /experiences-aj-hackett.html#swings
   - name: "Scable"
     url: /experiences-aj-hackett.html#bungy
   gallery-images:
   - img-url: /images/skypark-normandie-france-2-aj-hackett-international.png
     img-position: 50% 50%
     img-alt: Skypark Normandie in Souleuvre Valley, featuring the iconic bungy tower against a lush green landscape.
   - img-url: /images/view-skypark-normandie-france-aj-hackett-international.png
     img-position: 50% 50%
     img-alt: Skypark Normandie in Souleuvre Valley, showcasing multiple towers amid a scenic, green landscape.
   - img-url: /images/aj-at-skypark-normandie-france-aj-hackett-international.png
     img-position: 50% 50%
     img-alt: AJ Hackett and a woman enjoying a tandem bungy jump at Skypark Normandie in the scenic Souleuvre Valley.
   - img-url: /images/drone-skypark-normandie-france-aj-hackett-international.png
     img-position: 50% 50%
     img-alt: Drone view of Skypark Normandie in Souleuvre Valley, showing multiple bungy towers and the lush landscape.
   - img-url: /images/skypark-normandie-france-3-aj-hackett-international.png
     img-position: 50% 50%
     img-alt: Drone shot of Skypark Normandie's bungy tower top, with panoramic views of Souleuvre Valley's lush landscape.
   description: Enjoy the thrill of the Souleuvre Valley in Normandie with Skypark Normandie by AJ Hackett! The first jumps took place in November 1990, after six months of hard work, and the Souleuvre Viaduct now gives adrenaline-seekers in Normandie the chance to get their thrills! In particular, with the opening of the giant zip line in 1999, the Glass Skycube offering a panoramic view of the entire Souleuvre Valley in 2022, and the new feature in 2024—the pendulum jump called Skyrope. Since then, the company's primary objective has been to protect the Souleuvre Valley (over 1,000 hectares) by giving it protected status while making it a major European tourist destination for everyone, from thrill-seekers to nature lovers.
---

<section class="max-w-screen-2xl mx-auto">
  <div class="px-5p pt-15p sm:pt-10p xl:pt-5p pb-10p sm:pb-0">
    <div>
        <p class="pb-5p xl:pb-2p"> 2020 shaped up to be a year unlike any other. On top of managing a global pandemic, <strong> we celebrated our 30th birthday in both Cairns and Normandie and launched our new brand identity—Skypark by AJ Hackett</strong>.</p>
        <p class="pb-5p xl:pb-2p"> Skypark celebrates everything that AJ Hackett is famous for: <strong> creating positively life-changing experiences through our range of gravity-defying activities while creating a destination of all-inclusive fun activities you will want to keep coming back for</strong>.</p>
        <p class="pb-5p sm:pb-10p xl:pb-5p"> Check out each individual site to experience the many worlds of Skypark by AJ Hackett.</p>
    </div>
  </div>
</section>

<section class="max-w-screen-2xl mx-auto">
  <div class="px-5p pb-15p lg:pb-10p">
    {% for item in page.site %}
      <div id="{{ item.id }}" class="pt-15p sm:pt-10p lg:pt-5p">
        <h3 class="title-font text-2xl sm:text-4xl pb-2p 2xl:pb-1p">{{ item.location }}</h3>
        <hr class="pb-1p">

        <!-- Large Featured Image -->
        <div class="relative h-full min-h-30 sm:min-h-50 mt-2p mb-1p 2xl:mt-1p">
          <img loading="lazy" class="absolute inset-0 w-full h-full object-cover rounded-3xl" src="{{ item.image }}" style="object-position: {{ item.image-position }};" alt="{{ item.image-alt }}" />
        </div>

        <!-- Gallery Images -->
        <div class="grid grid-cols-5 gap-1 w-full overflow-x-auto" id="lightgallery">
            {% for image in item.gallery-images %}
               <a class="col-span-1" href="{{ image.img-url }}" aria-label="View larger version of the image">
                  <div class="aspect-square relative">
                        <img loading="lazy" class="w-full h-full object-cover object-center rounded-xl sm:rounded-3xl" src="{{ image.img-url }}" style="object-position: {{ image.img-position }};"" alt="{{ image.img-alt }}">
                  </div>
               </a>
            {% endfor %}
         </div>

         <!-- Location Links -->
        <h4 class="uppercase text-xl sm:text-2xl py-2p">
          {% for experience in item.experiences %}
              <a href="{{ experience.url }}" class="grow transition-transform duration-300 ease-in-out transform hover:scale-105">{{ experience.name }}</a>{% if forloop.last == false %} | {% endif %}
          {% endfor %}
        </h4>

        <!-- Description -->
        <p class="pb-10p sm:pb-2p 2xl:pb-1p pt-5p sm:pt-5p lg:pt-2p">{{ item.description }}</p>

        <!-- Visit the site button -->
        <div class="mb-20p md:mb-15p sm:mt-5p xl:mt-2p xl:mb-10p">
            <a href="{{ item.url }}" class="button" aria-label="{{ item.url-alt }}">Visit the site</a>
        </div>
      </div>
    {% endfor %}
  </div>
</section>
